[Desktop Entry]
Encoding=UTF-8
Name=WmEyes
Comment=Xeyes in the Dock
Comment[pl]=Xeyes w Doku
Exec=wmeyes -w
Terminal=false
Type=Application
# vi: encoding=utf-8
